<div class="footer-bottom">
  <ul class="footer-bottom-items">
    <li class="footer-bottom-item">
      <div>Refshalevej 96</div>
      <div>1432 Copenhagen K</div>
      <div>
        <a
          href="https://goo.gl/maps/qivmSfBRyTC9MbUY8"
          target="_blank"
          rel="noopener noreferrer"
          >See map</a
        >
      </div>
    </li>
    <li class="footer-bottom-item">
      <div>Phone</div>
      <div>xxx-xxx-xxx</div>
    </li>
    <li class="footer-bottom-item">
      <a href="mailto:justjohnd@gmail.com">
        <div>Email</div>
        <div>josh@gardindujosh.com</div></a
      >
    </li>
    <li class="footer-bottom-item">
      <div>Opening Hours</div>
      <div>Monday-Saturday, 17:00-23:00</div>
    </li>
  </ul>
</div>
