<div class="footer-bottom">
  <ul class="footer-bottom-items">
    <li class="footer-bottom-item">
      <div>81. Tarn. France.</div>
      <div>
        <a
          href="https://goo.gl/maps/qivmSfBRyTC9MbUY8"
          target="_blank"
          rel="noopener noreferrer"
          >See map</a
        >
      </div>
    </li>
    <li class="footer-bottom-item">
      <div>Phone</div>
      <div>xxx-xxx-xxx</div>
    </li>
  </li>
  <li class="footer-bottom-item">
    <div>Opening Hours</div>
    <div>Saturday Evenings 17:00~</div>
  </li>
</ul>
</div>
