<section class="mobile-wrapper">
  <div class="nav-mobile">
    <div class="hamburger">
      <%= fa_icon 'times', :class => 'hamburger-close' %>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <ul class="mobile-menu d-none">
    <%= render "shared/nav_menu" %>
  </ul>
</section>
