<li class="menu-item"><%= link_to "FOOD AND WINE", "pages/menu" %></li>
<li class="menu-item"><%= link_to "RESERVATIONS", "pages/reservations" %></li>
<li class="menu-item"><%= link_to "FROM THE VINE", articles_path %></li>
<li class="menu-item"><%= link_to "ABOUT", "/pages/about" %></li>
