    <a href="https://www.facebook.com/aster.resto.81" target="_blank" rel="noopener noreferrer">
  <%= fa_icon 'facebook', :class => 'social' %>
</a>
<a href="https://www.instagram.com/aster.restaurant/" target="_blank" rel="noopener noreferrer">
  <%= fa_icon 'instagram', :class => 'social' %>
</a>
