<%= render "shared/header" %>
<section class="page-container">
  <h1 class="page-title mb-36">ABOUT US</h1>
  <div class="article mb-36">
    <%# <div class="article-title ">
      It all started in a sleepy little town called Portland...</div> %>
    <div class="article-body">
      <p>Aster is a private dining event located near the glowing lights of Cordes Sur Ciel, in an undisclosed location, every Saturday night.</p>
      <br/>
      <p>Reservations required. Seating is limited to 18 per night.</p>
      <br/>
      <p>We open on November 20th and hope to see you soon. </p>
      <br/>
    </div>
  </div>
  <div class="article mb-36">
    <div class="article-title ">
      Contact Information</div>
    <br/>
    <div class="article-body">
      <p>Please feel free to contact us at xxx-xxxx-xxxx or by email. Our physical address is:</p>
      <br/>
      <p>Refshalevej 96</p>
      <p>1432 Copenhagen K</p>
      <p>
        <a
          href="https://goo.gl/maps/qivmSfBRyTC9MbUY8"
          target="_blank"
          rel="noopener noreferrer"
          >Or find us on Google Maps</a
        >
      </p>
    </div>
  </div>
</section>
<%= render "shared/footer_with_wrapper" %>
