<%= render "shared/header" %>
<section class="page-container">
  <h1 class="page-title mb-36"><%= t('reservations') %></h1>
  <div class="article mb-36">
    <div class="article-body mb-12">
      <h3>Thank you for your message!</h3>
    </div>
  </div>
  <div class="article mb-36">
    <div class="article-title ">
      CANCELLATION POLICY</div>
    <div class="article-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</section>
<%= render "shared/footer_with_wrapper" %>
